<div class="form-submit">
  <h2 class="title">{{ formTitle }}</h2>
  <form [formGroup]="myForm">
    <div class="example-container">
      <input hidden formControlName="id">
      <input hidden formControlName="id">
      <input hidden formControlName="firstName">
      <input hidden formControlName="lastName">
      <input hidden formControlName="chucDanh_id">
      <input hidden formControlName="chucVu_id">
      <input hidden formControlName="phongBan_id">
      <mat-form-field appearance="outline">
        <mat-label>ID</mat-label>
        <input ngDefaultControl matInput placeholder="NV.01" formControlName="id" required [readonly]="NhanVien_Id != ''">
      </mat-form-field><br>
      <mat-form-field appearance="outline">
        <mat-label>Tên</mat-label>
        <input ngDefaultControl matInput placeholder="Nhật" formControlName="firstName" required>
      </mat-form-field><br>
      <mat-form-field appearance="outline">
        <mat-label>Họ</mat-label>
        <input ngDefaultControl matInput placeholder="Trương" formControlName="lastName" required>
      </mat-form-field><br>
      <div class="image-container">
        <button color="primary" type="button" (click)="fileInput.click()" mat-fab>
          <mat-icon>image</mat-icon>
        </button>
        <input
          formControlName="fileControl"
          hidden
          accept="image/png, image/jpeg"
          (change)="onFileSelected($event)"
          #fileInput
          type="file"
          id="file"
          class="image-input"
        />
        <img
          *ngIf="imageProduct || imageName"
          class="preview"
          [src]="imageProduct != ''?imageProduct: 'https://localhost:5001/'+imageName"
          style="height: 75px"
        />
      </div>
  
      <mat-form-field appearance="outline">
        <mat-label>Chọn Chức Danh</mat-label>
        <mat-select formControlName="chucDanh_id">
          <mat-option ngDefaultControl *ngFor="let option of ChucDanhList" [value]="option.Id">
            {{option.TenChucDanh}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Chọn Chức Vụ</mat-label>
        <mat-select ngDefaultControl formControlName="chucVu_id">
          <mat-option *ngFor="let option of ChucVuList" [value]="option.Id">
            {{option.TenChucVu}}
          </mat-option>
        </mat-select>
      </mat-form-field>
        <h4 *ngIf="NhanVien_Id != ''">Phòng Ban Hiện Tại: {{phongBan.TenPhongBan}}</h4>
      <mat-form-field appearance="outline">
        <mat-label>Chọn Phòng Ban</mat-label>
        <mat-select ngDefaultControl formControlName="phongBan_id">
          <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
              <button mat-icon-button disabled></button>
              <mat-option [value]="node.name.Id">
                {{node.name.TenPhongBan}}
              </mat-option>
            </mat-tree-node>
            <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
              <button mat-icon-button matTreeNodeToggle
                      [attr.aria-label]="'Toggle ' + node.name">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
              <mat-option [value]="node.name.Id">
                {{node.name.TenPhongBan}}
              </mat-option>
            </mat-tree-node>
          </mat-tree>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="groupBtn">
      <a mat-raised-button color="primary" (click)="Cancel()">Hủy</a>
      <button mat-raised-button color="primary" (click)="Submit()">{{btnSubmit}}</button>
    </div>
  </form>
</div>
